.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: var(--light-border);
  padding: 20px;
  background: rgb(0, 0, 0, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  min-width: 300px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}

.btn-modal {
  padding: 5px;
  width: 50%;
}
