.profile-search-form {
  padding: 16px 20px;
  border: 1px solid var(--light-color);
  background-color: var(--dark-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}
