<img
  src="assets/svg/vibe-chat.svg"
  alt=""
  class="mb20 ml16"
  style="width: 60%"
/>

<nav class="mb20">
  <ul class="main-menu-list">
    <li *ngFor="let item of menuItems">
      <a
        class="menu-item"
        [routerLink]="[item.link]"
        routerLinkActive="router-link-active"
      >
        <svg [icon]="item.icon"></svg>
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for (profile of subscibers$ | async; track profile.id) {
  <app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<footer class="sidebar__footer">
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img [src]="me.avatarUrl | imgUrl" [alt]="me.lastName" />
    } @else {
      <img src="assets/imgs/default.png" [alt]="me.lastName" />
    }
    <div class="medium-text username-text">{{ me.username }}</div>
  }
  <a [routerLink]="['/settings']" class="settings-btn">
    <svg icon="settings"></svg>
  </a>
</footer>
