@if(profileService.me(); as profile){
<app-profile-header [profile]="profile"></app-profile-header>
}

<form [formGroup]="formSettings" class="profile-form__wraper">
  <div class="profile-form">
    <div class="two-columns">
      <label class="tt-form-label"
        ><span class="tt-form-label__text">Имя</span
        ><input
          type="text"
          formControlName="firstName"
          placeholder="Введите имя"
          class="tt-form-input"
      /></label>

      <label class="tt-form-label"
        ><span class="tt-form-label__text">Фамилия</span
        ><input
          type="text"
          formControlName="lastName"
          placeholder="Введите фамилию"
          class="tt-form-input"
      /></label>
    </div>

    <label class="tt-form-label"
      ><span class="tt-form-label__text">Telegram username</span
      ><input
        type="text"
        formControlName="username"
        placeholder="Введите username"
        class="tt-form-input"
    /></label>

    <label class="tt-form-label"
      ><span class="tt-form-label__text">О себе</span>
      <textarea
        placeholder="Введите описание"
        class="tt-form-input tt-textarea"
        rows="4"
        formControlName="description"
      ></textarea>
    </label>

    <label class="tt-form-label"
      ><span class="tt-form-label__text">Аватарка</span>
      <app-avatar-upload></app-avatar-upload>
    </label>

    <app-stack-input formControlName="stack"
      ><span class="tt-form-label__text">Навыки</span></app-stack-input
    >

    <app-address
      [fullAddressControl]="fullAddressControl"
      [cityControl]="cityControl"
      [streetControl]="streetControl"
      [houseControl]="houseControl"
    >
      <span class="tt-form-label__text">Адрес</span>
    </app-address>
  </div>
  <div>
    <div>
      <button class="btn" (click)="onSave()">Сохранить</button>
    </div>
  </div>
</form>

<app-modal-window [isOpen]="openModal()" (closed)="onCloseModal()"
  >Данные о пользователе сохранены</app-modal-window
>
