.profile-page__header {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 64px;
  padding: 24px;
}

.to-settings-btn {
  width: 190px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 35px;
  height: 45px;
  margin-top: 50px;
}

.to-settings-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.profile-page-body {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 64px;
  padding: 24px;
}

img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.profile-page-body__subscribers {
  display: flex;
  align-items: center;
  gap: 8px;
}

.to-subscribers-search {
  border-radius: 50%;
  background: var(--light-color);
  width: 14px;
  height: 14px;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 8px;
    background: var(--dark-color);
    top: 50%;
    left: 50%;
  }

  &:before {
    transform: translateY(-50%) translateX(-50%);
  }

  &:after {
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
}

.profile-page-body__skills {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.btn-sub {
  color: var(--light-color);
  text-decoration: none;
}
