@if(profile$ | async; as profile){
<header class="profile-page__header">
  <app-profile-header [profile]="profile"></app-profile-header>

  <a class="btn to-settings-btn" [routerLink]="['/settings']">
    Редактировать <svg icon="settings" class="to-settings-icon"></svg>
  </a>
</header>

<main class="profile-page-body">
  <app-post-feed></app-post-feed>

  <div>
    <div>
      <h3 class="mb16">Подписчики</h3>
      <div class="profile-page-body__subscribers mb32">
        @for(subscriber of subscribers$ | async; track subscriber.id){
        <a [routerLink]="['/profile', subscriber.id]">
          <img
            [src]="subscriber.avatarUrl | imgUrl"
            [alt]="subscriber.lastName"
        /></a>
        }
        <a class="to-subscribers-search" [routerLink]="['/search']"></a>
      </div>
    </div>

    <div>
      <h3 class="mb16">Навыки</h3>
      <div class="profile-page-body__skills mb32">
        @for(skill of profile.stack; track skill){
        <div class="skill-tag">{{ skill }}</div>
        }
      </div>
    </div>

    <div>
      <h3 class="mb16">О себе</h3>
      <p>
        {{ profile.description }}
      </p>
    </div>
  </div>
</main>
}
